@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100;200;400&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed&family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
.register__container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}


 /* Start Style Left Side of Register */
.left-container{
    background-image: url(/public/assets/bg.png);
    width: 35vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* left: 0px;
    top: 0px; */
}
.left-content{
    background-color: rgb(21, 101, 216, .9);
    width: 100%;
    height: 100%;
    padding: 4rem 2rem;
}
.quotes-container{
    display: block;
    flex-direction: column;
    align-items: end;
    height: auto;
    margin: 5rem 0  ;
}
.paragraph{
    font-size: 20px;
    color: #FFF;
    text-align: left;
    line-height: 2rem;
}
.closing-container{
    display: flex;
    justify-content: end;
}
.close-icon{
    display: flex;
    align-items: flex-end;
} 
/* End Style Left Side of Register */

/* Start Style Right Side of Register */

.right-container {
    height: 100%;
    overflow-y: auto;
}
.right-content{
    width: 100%;
    height: 100%;
    padding: 5rem 5rem;
}
.back-icon{
    display: flex;
}
.back-icon span{
    padding-left: .5rem;
    font-size: 16px;
    font-weight: bold;
    color: #8692A6;
}
.back-icon:hover{
    cursor: pointer;
}
.right-container{
    width: 65vw;
}
.right-content{
    width: 100%;
}
.register{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}
.register-form h2{
    font-size: 30px;
}
.register-form{
    padding: 1rem 0;
}
.register-form p {
    color: #8692A6;
    font-size: 18px; 
    /* width: ; */
}
.checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
}
.checkbox-label{
    font-size: 16px;
    color: #696F79;
    font-weight: 600;
    padding-left: .5rem;
    letter-spacing: .4px;
}
.checkbox-input {
    width: 18px;
    height: 18px;
    border-radius: 0;
}
.or-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    color: #BABABA;
}
.or-div span{
    padding: 0 1rem;
}
.or-div hr{
    display: block;
    border: none;
    height: 1px;
    width: 100% ;
    background-color: #BABABA;
}
.strength{
    width: 25%;
    display: inline-block;
    position: relative;
    height: 100%;
    background-color: #000;
    bottom: 5px;
}
#strength-bar{
    background-color: #dcdcdc;
    height: 10px;
    position: relative;
    border-radius: 5px ;
}
#strength-msg{
    text-align: left;
    width: 100%;
    font-size: 14px;
}







/* Here is the login page */


.login__container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

 /* Start Style Left Side of Login */
.left-container-login{
    width: 55vw;
    height: 100vh;
}
.left-content-login{
    width: 100%;
    height: 100%;
    padding: 4rem 2rem;
}
.quotes-container-login{
    display: block;
    flex-direction: column;
    align-items: end;
    height: auto;
    margin: 5rem 0  ;
    width: 80%;
}
.paragraph-login{
    font-size: 20px;
    color: #000;
    text-align: left;
    line-height: 2rem;
    width: 75%;
}
.closing-container-login{
    background-color: darkkhaki;
    display: flex;
    width: 336px;
    height: 418px;
    float: right;
}
.close-icon-login{
    width: 336px;
    height: 418px;
    float: right;
    position: absolute;
    bottom: .5rem;
    left: 25rem;
} 
/* End Style Left Side of Login */

/* Start Style Right Side of Login */


/* Start Style Right Side of Register */

.right-container-login {
    height: 100%;
    overflow-y: auto;
}
.right-content-login{
    width: 100%;
    height: 100%;
    padding: 5rem 2rem;
    align-items: center;
    justify-content: space-around;
}
.title{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.login{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}
.login-ads{
    font-size: 18px;
    color: #8692A6;
    text-align: center;
}
.icons_container{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}
.icon_container{
    border-radius: 6px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #888888;
}
.to-register{
    padding: 1rem 0;
    font-size: 16px;
    color: #696F79;
    font-weight: bold;
    text-align: center;
}
.to-register a{
    color: #1565D8
}
/* End Style Right Side of Login */